<div class="subnav">
  <a href="/admin/caja"       class="<%= activeAdmin==='caja'       ? 'active':'' %>">Caja</a>
  <a href="/admin/pagos"      class="<%= activeAdmin==='pagos'      ? 'active':'' %>">Pagos</a>
  <a href="/admin/produccion" class="<%= activeAdmin==='produccion' ? 'active':'' %>">Producción</a>
  <a href="/admin/sueldos"    class="<%= activeAdmin==='sueldos'    ? 'active':'' %>">Sueldos</a>
  <a href="/admin/reportes"   class="<%= activeAdmin==='reportes'   ? 'active':'' %>">Reportes</a>
  <a href="/admin/empleados"  class="<%= activeAdmin==='empleados'  ? 'active':'' %>">Empleadas</a>
  <a href="/admin/ajustes"    class="<%= activeAdmin==='ajustes'    ? 'active':'' %>">Ajustes</a>
</div>
